.item {
    height: 500px !important;
    vertical-align: center;

}
.valentines {
    font-weight: bold;
    font-style: italic;
    color: white;
}

.caption {
    font-weight: bold;
    color:rgb(109, 240, 207)
}

.author_feature {
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    border-color: rgb(102, 102, 214);
}
